.button {
    font: inherit;
    border: 1px solid black;
    background: #03046d;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 11px;
  }
  
  .button:hover,
  .button:active {
    background: #668dfaef;
    border-color: black;
  }
  
  .button:focus {
    outline: none;
  }